<!DOCTYPE html>
{% extends 'base.html.twig' %}

<title>Nova Tarefa</title>
{% block title %}Nova Tarefa{% endblock %}

{% block body %}
    <h1>Nova tarefa</h1>
<h1>Nova Tarefa</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Salvar'})}}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Salvar</button>
{{ form_end(form) }}

<a href="{{ path('app_task_index') }}" class="btn btn-back">← Voltar</a>

    <a href="{{ path('app_task_index') }}">voltar a lista</a>
{% endblock %}