<!DOCTYPE html>

<title>Tarefa</title>

{% block body %}
    <h1>Tarefa</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ task.title }}</td>
            </tr>
            <tr>
                <th>Deadline</th>
                <td>{{ task.deadline }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ task.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_task_index') }}">Voltar a lista</a>

    <a href="{{ path('app_task_edit', {'id': task.id}) }}">Editar</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
