{% extends 'base.html.twig' %}

{% block title %}Detalhes da Tarefa{% endblock %}

{% block body %}
<h1>Detalhes da Tarefa</h1>

<p><strong>Título:</strong> {{ task.title }}</p>
<p><strong>Descrição:</strong> {{ task.description }}</p>
<p><strong>Data da Tarefa:</strong> {{ task.deadline ? task.deadline|date('d/m/Y') : '—' }}</p>

<div class="task-links">
    <a href="{{ path('app_task_index') }}" class="btn">Voltar</a>
    <a href="{{ path('app_task_edit', {'id': task.id}) }}" class="btn btn-edit">Editar</a>
</div>

{% endblock %}
