{% extends 'base.html.twig' %}

{% block title %}Detalhes da Tarefa{% endblock %}

{% block body %}
<h1>Detalhes da Tarefa</h1>

<ul>
    <li><strong>Título:</strong> {{ task.title }}</li>
    <li><strong>Deadline:</strong> {{ task.deadline|date('d/m/Y') }}</li>
    <li><strong>Status:</strong> {{ task.status ? 'Concluída' : 'Pendente' }}</li>
    <li><strong>Descrição:</strong> {{ task.description }}</li>
</ul>

<div class="task-actions">
    <form action="{{ path('app_task_edit', {'id': task.id}) }}" method="get" style="display:inline;">
        <button type="submit" class="btn btn-edit">Editar</button>
    </form>


    <form method="post" action="{{ path('app_task_delete', {'id': task.id}) }}" 
         onsubmit="return confirm('Deseja realmente excluir esta tarefa?');" 
         class="delete-form">
         <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
         <button type="submit">Excluir</button>
    </form>

    <a href="{{ path('app_task_index') }}" class="btn-back">← Voltar</a>
</div>
{% endblock %}
