<!DOCTYPE html>

<title>Usuário</title>

{% block body %}
    <h1>Usuário</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>phone</th>
                <td>{{ user.phone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">Voltar a lista</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Editar</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
